%nav.row
  .large-12.columns
    %h2 Events Show
    %ul.button-group.radius.even-4
      %li
        %a.button{href: "/"} Home
      %li
        %a.button{href: "/photos"} Photos
      %li
        %a.button{href: "/events"} Events
      %li
        %a.button{href: "/tags"} Tags
%p= @event.name
%p= @event.location
%p= @event.date

- @event.comments.each do |c|
	= c.content
	%br

= form_for @new_comment, url:"/comments", method: :post do |f|
	= f.hidden_field :commentable_id, value: @event.id
	= f.hidden_field :commentable_type, value: "Event"
	= f.label "comment this event"
	= f.text_area :content

	= f.submit "Add Comment"

= link_to "Back", events_path