= image_tag @pic.photo_share.url

- @pic.comments.each do |c|
	= c.content

= form_for @new_comment, url: "/comments", method: :post do |f|
	= f.hidden_field :commentable_id, value: @pic.id
	= f.hidden_field :commentable_type, value: "Photo"
	= f.text_field :content
	= f.submit "Add Comment"	